

.chat-container {
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Align items vertically */
    align-items: flex-end; /* Align items to the end (right side) */
    padding: 5px;
    margin: 10px;
    /* border: 1px solid black; */

}

.message-container {
    width: 500px;
    background-color: #82b3f3;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    align-self: flex-end;
}

/*---------------------------------------------------------*/

/* .your-chat-container {
    position: relative;
    left: 0;
    width: auto;
    padding: 5px;
    margin: 10px;
    border: 1px solid white

} */

.your-message-container {
    /* position: absolute; */
    left: 0;
    width: 500px;
    background-color: #d3defb;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    align-self: flex-start;
}

.message-block {
    display: flex;
    justify-content: flex-start;
}

.message-image-block {
    display: flex;
    justify-content: flex-start;
    width: auto;
    height: auto;
}


@media (max-width: 768px) {
    .chat-container {
        display: flex; /* Use flexbox layout */
        flex-direction: column; /* Align items vertically */
        align-items: flex-end; /* Align items to the end (right side) */
        padding: 5px;
        margin: 10px;
        /* border: 1px solid black; */
    
    }

    .message-container {
        width: auto;
        background-color: #82b3f3;
        padding: 5px;
        margin-bottom: 10px;
        border-radius: 10px;
        align-self: flex-end;
        color: black;
        font-weight: bold;
        max-width: 70%;
    }

    .your-message-container {
        /* position: absolute; */
        left: 0;
        width: auto;
        background-color: #d3defb;
        padding: 5px;
        margin-bottom: 10px;
        border-radius: 10px;
        align-self: flex-start;
        color: black;
        font-weight: bold;
        max-width: 70%;
    }
    
    .message-block {
        display: flex;
        justify-content: flex-start;
        color: black;
    }
}